{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container-fluid" >
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}
    <br />
    <a href="{{ path('category_index') }}" class="btn btn-primary">back to list</a>
    <br />
    </div>
{% endblock %}
